package {{appPackage}}

import org.springframework.boot.autoconfigure.SpringBootApplication
import org.springframework.boot.autoconfigure.domain.EntityScan
import org.springframework.boot.runApplication

{{>generatedAnnotation}}
@SpringBootApplication(scanBasePackages = ["{{appPackage}}", "{{>resolveCommonPackage}}.config"])
@EntityScan(value = ["{{appPackage}}.domain", "{{>resolveCommonPackage}}.domain"])
class {{appRealName}}Application

@Suppress("SpreadOperator")
fun main(args: Array<String>) {
    runApplication<{{appRealName}}Application>(*args)
}
