package {{appPackage}}.controller

{{#imports}}import {{import}}
{{/imports}}
import {{appPackage}}.service.{{serviceClassname}}
import {{appPackage}}.controller.api.{{classname}}
import {{>resolveCommonPackage}}.controller.ControllerDelegate
import org.springframework.data.domain.Page
import org.springframework.data.domain.Pageable
import org.springframework.data.domain.Sort
import org.springframework.data.web.PageableDefault
import org.springframework.http.ResponseEntity
import org.springframework.util.Assert
import org.springframework.web.bind.annotation.*

{{>generatedAnnotation}}
@RestController
{{#operations}}
class {{controllerClassname}}(service: {{serviceClassname}}) : {{classname}} {

	val delegate = ControllerDelegate(service)
{{#operation}}

	override fun {{vendorExtensions.operationMethodName}}({{#allParams}}{{>queryParams}}{{>pathParams}}{{>headerParams}}{{>bodyParams}}{{>formParams}}{{>pageParams}}{{^-last}},{{/-last}}{{/allParams}}): {{#responseWrapper}}{{.}}<{{/responseWrapper}}ResponseEntity<{{>returnTypes}}>{{#responseWrapper}}>{{/responseWrapper}} {
		{{>apiControllerDelegateMethodBody}}
	}
{{/operation}}

}
{{/operations}}
