package {{>resolveCommonPackage}}.controller

import {{>resolveCommonPackage}}.domain.BaseResource
import com.fasterxml.jackson.databind.ObjectMapper
{{#opentelemetry.enabled}}
import io.opentelemetry.api.GlobalOpenTelemetry
{{/opentelemetry.enabled}}
import org.junit.jupiter.api.Assertions
import org.junit.jupiter.api.BeforeEach
import org.springframework.beans.factory.annotation.Autowired
import org.springframework.test.web.servlet.MockMvc

abstract class AbstractIT<E : BaseResource> {

	@Autowired
	lateinit var mockMvc: MockMvc

	@Autowired
	lateinit var objectMapper: ObjectMapper

	lateinit var api: ApiTestDelegate<E>

	@BeforeEach
	fun init() {
		api = ApiTestDelegate(mockMvc, objectMapper)
		{{#opentelemetry.enabled}}
		GlobalOpenTelemetry.resetForTest()
		{{/opentelemetry.enabled}}
	}

	fun assertObjectEquals(first: Any?, second: Any?) {
		if (first == null && second == null) {
			return
		}
		val firstString = objectMapper.writeValueAsString(first)
		val secondString = objectMapper.writeValueAsString(second)
		Assertions.assertEquals(firstString, secondString, "JSON objects should be equal")
	}
}
