package {{>resolveCommonPackage}}.domain

{{#imports}}import {{import}}
{{/imports}}
import javax.persistence.*
import org.hibernate.annotations.LazyCollection
import org.hibernate.annotations.LazyCollectionOption

{{#models}}
{{#model}}
{{#isEnum}}
{{>enumOuterClass}}
{{/isEnum}}
{{^isEnum}}
{{>common/src/main/kotlin/domain/commonPojoentity.kt}}
{{/isEnum}}
{{/model}}
{{/models}}