image: gradle:7.1.1

stages:
  - test
  - build
  - deploy

variables:
  GRADLE_USER_HOME: $CI_PROJECT_DIR/.gradle
  IMAGE_VERSION: {{imageVersion}}
{{#codecov}}
  CODECOV_TOKEN: "{{{codecov}}}"
{{/codecov}}

test-system:
  stage: test
  script:
    - set +e
    - du -sh $CI_PROJECT_DIR/.gradle/wrapper
    - du -sh $CI_PROJECT_DIR/.gradle/caches
    - set -e
    - ./gradlew test
{{#codecov}}
  after_script:
    - bash <(curl -s https://codecov.io/bash)
{{/codecov}}
  cache:
    key: "$CI_PROJECT_NAME"
    paths:
      - build
    {{#appsLower}}
      - {{>app-module/src/main/kotlin/domain/modulePrefixNameDefinition}}{{.}}/build
    {{/appsLower}}
      - .gradle/wrapper/
      - .gradle/caches/

build-docker:
  stage: build
  script:
    - set +e
    - du -sh $CI_PROJECT_DIR/.gradle/wrapper
    - du -sh $CI_PROJECT_DIR/.gradle/caches
    - set -e
{{#appsLower}}
    - ./gradlew {{>app-module/src/main/kotlin/domain/modulePrefixNameDefinition}}{{.}}:jib -Djib.to.image=$CI_REGISTRY_IMAGE/{{.}}:$IMAGE_VERSION -Djib.to.auth.username=$CI_REGISTRY_USER -Djib.to.auth.password=$CI_REGISTRY_PASSWORD
{{/appsLower}}
  only:
    - master
  cache:
    key: "$CI_PROJECT_NAME"
    policy: pull
    paths:
      - build
{{#appsLower}}
      - {{>app-module/src/main/kotlin/domain/modulePrefixNameDefinition}}{{.}}/build
{{/appsLower}}
      - .gradle/wrapper/
      - .gradle/caches/

{{#deployment}}
deploy-{{name}}:
  {{#manual}}
  when: manual
  {{/manual}}
  image:
    name: lachlanevenson/k8s-kubectl:latest
    entrypoint: [ "/bin/sh", "-c" ]
  stage: deploy
  variables:
    APISERVER: "{{kubeApi}}"
  script:
    - kubectl config set-cluster {{name}} --server=$APISERVER
    - kubectl config set-context {{name}} --cluster={{name}}
    - kubectl config set-credentials {{name}}-user --token={{tokenVar}}
    - kubectl config set-context {{name}} --user={{name}}-user
    - kubectl config use-context {{name}}
    - kubectl config view
    - kubectl apply -f ./kube/{{name}}{{#kubectlArgs}} {{kubectlArgs}}{{/kubectlArgs}}
{{#secretFileVar}}
    - kubectl apply -f {{secretFileVar}}{{#kubectlArgs}} {{kubectlArgs}}{{/kubectlArgs}}
{{/secretFileVar}}
    {{#appsLower}}
    - kubectl apply -f ./kube/kube-{{.}}.yml{{#kubectlArgs}} {{kubectlArgs}}{{/kubectlArgs}}
    {{/appsLower}}
    - kubectl get pods --namespace=default{{#kubectlArgs}} {{kubectlArgs}}{{/kubectlArgs}}
  only:
    - master

{{/deployment}}