package {{repositoryPackage}}

{{#imports}}import {{import}}
{{/imports}}
import {{>resolveCommonPackage}}.repository.CommonRepository
import org.springframework.stereotype.Repository

{{>generatedAnnotation}}
@Repository
interface {{repositoryClassname}} : CommonRepository<{{returnEntityType}}>
