package {{appPackage}}.service

{{#imports}}import {{import}}
{{/imports}}
import {{appPackage}}.repository.{{repositoryClassname}}
import {{>resolveCommonPackage}}.service.AbstractService
import org.springframework.stereotype.Service

{{>generatedAnnotation}}
@Service
class {{serviceClassname}}(
    repository: {{repositoryClassname}}
) : AbstractService<{{returnEntityType}}, {{repositoryClassname}}>(repository)
